html {
    font-family: $font-arial;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: $font-arial;
    font-size: 2.625rem;
    letter-spacing: 3px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}