$grid-gutter: 40px;

$font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-default: 10px;

$transition-default-time: 400ms;