.m-list {
    list-style: none;

    &.-nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        transition: transform $transition-default-time, visibility $transition-default-time;
        transform: scaleY(0);
        transform-origin: top;
        z-index: 3;

        &.-active {
            visibility: visible;
            transform: scaleY(1);
        }
    }

    &.-desktopNav {
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    &.-navIcons {
        display: flex;
        align-items: center;
        margin-top: 6px;
        margin-right: 6px;
    }

    &.-footer {
        display: none;

        @include media-up('_m') {
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-right: auto;
            margin-left: 58px;
        }
    }

    &__item {

        .-nav & {
            padding: 5px 0;
            padding-left: 13px;
            color: $white;
        }

        .-desktopNav & {
            @include first-child-none('margin-left', 12px);
            color: $gray;

            @for $i from 1 through length($theme-colors) {
                $color: nth($theme-colors, $i);
    
                &:nth-child(#{$i}) {

                    > a:hover,
                    > a:active,
                    > a:focus,
                    > a:visited {
                        color: $color;
                    }
                }
            }

            &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 10px;
                margin-left: 12px;
                background-color: currentColor;
                transform: rotate(15deg);
            }

            &:nth-child(3) {
                margin-left: 5px;
            }

            &:last-child {
                margin-left: 7px;
            }

            &:last-child::after {
                content: none;
            }

            &--link {
                color: inherit;
                transition: color $transition-default-time;
            }

            &--link::before {
                transition: color $transition-default-time;
            }
        }

        .-navIcons & {
            @include first-child-none('margin-left', 35px);

            &--link::before {
                transition: color $transition-default-time;
            }

            @for $i from 1 through length($theme-colors) {
                $color: nth($theme-colors, $i);
    
                &:nth-child(#{$i}) {

                    > a:hover::before,
                    > a:active::before,
                    > a:focus::before,
                    > a:visited::before {
                        color: $color;
                    }
                }
            }
        }

        .-footer & {
            @include first-child-none('margin-left', 12px);

            &:last-child {
                margin-left: 15px;
            }

            &::after {
                content: none;
            }
        }

        .-nav & {

            @for $i from 1 through length($theme-colors) {
                $color: nth($theme-colors, $i);
    
                &:nth-child(#{$i}) {
                    background-color: $color;
                }
            }
        }

        &--link {
            font-size: 1.7rem;
            text-transform: uppercase;
            transition: color $transition-default-time;

            .-nav & {
                color: $white;
            }

            .-navIcons & {
                font-size: 2rem;
            }

            .-footer & {
                font-size: 1.4rem;
            }

            &.a-icon.icon-contact {
                font-size: 1.8rem;
            }
        }

        &--link:hover,
        &--link:active,
        &--link:focus,
        &--link:visited {

            .-nav & {
                color: $black;
            }
        }
    }
}