.m-list {
    list-style: none;

    &.-nav {
        position: absolute;
        top: 39px;
        visibility: hidden;
        transition: visibility 400ms;
    }

    &.-desktopNav {
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    &.-navIcons {
        display: flex;
        align-items: center;
        margin-top: 6px;
        margin-right: 6px;
    }

    &.-footer {
        display: none;

        @include media-up('_m') {
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-right: 87px;
        }
    }

    &__item {

        .-desktopNav & {
            @include first-child-none('margin-left', 12px);
            color: $gray;

            &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 10px;
                margin-left: 12px;
                background-color: currentColor;
                transform: rotate(15deg);
            }

            &:nth-child(3) {
                margin-left: 6px;
            }

            &:last-child {
                margin-left: 7px;
            }

            &:last-child::after {
                content: none;
            }

            &--link {
                color: inherit;
                transition: color $transition-default-time;
            }
        }

        .-navIcons & {
            @include first-child-none('margin-left', 35px);
        }

        .-footer & {
            @include first-child-none('margin-left', 12px);

            &:last-child {
                margin-left: 15px;
            }

            &::after {
                content: none;
            }
        }

        &--link {
            font-size: 1.7rem;
            text-transform: uppercase;

            .-navIcons & {
                font-size: 2rem;
            }

            .-footer & {
                font-size: 1.4rem;
            }

            &.a-icon.icon-contact {
                font-size: 1.8rem;
            }
        }
    }
}