.m-navbar {
    padding: 12px;
    padding-right: 18px;
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, $yellow-green, $blue-1) 1;

    @include media-up('_s') {
        padding: 11px 0;
    }

    @include media-up('_m') {
        padding: 17px 0;
    }

    &__logo {
        max-width: 120px;

        @include media-up('_s') {
            max-width: 127px;
        }

        @include media-up('_m') {
            max-width: 151px;
        }
    }

    &__search {
        height: 0;
        padding: 0;
        margin-top: 0;
        border: 0;
        width: 100%;
        transition: 
            padding $transition-default-time,
            margin-top $transition-default-time,
        ;

        &.-active {
            margin-top: 10px;
            padding: 12px 5px;
            border: 1px solid $light-gray-3;
        }
    }

    .a-icon.icon-search {
        margin-bottom: -5px;

        @include media-up('_m') {
            margin-bottom: 7px;
        }

        &::before {
            transition: color $transition-default-time;
        }

        &.-active {

            &::before {
                color: $yellow-green;
            }
        }
    }
}