.m-section {
    margin-top: 45px;
    color: $dark-gray;

    > ._wr {
        max-width: 412px;

        @include media-up('_m') {
            max-width: 415px;
        }

        > ._w {
            flex-direction: column;
        }
    }
    
    &.-whatWeDo {
        
        .-innerWrap {
            margin-top: -20px;
        }
    }

    &.-whoWeAre {
        margin-top: 22px;

        @include media-up('_m') {
            margin-top: inherit;
        }
    }
}