.m-social {

    &.-footer {
        display: flex;
        align-items: center;
        margin-left: 5px;

        @include media-up('_m') {
            margin-left: 0;
        }

        > .a-icon {
            @include first-child-none('margin-left', 20px);

            &:first-child {
                font-size: 2rem;
            }

            &::before {
                transition: color $transition-default-time;
            }

            &:hover,
            &:active,
            &:focus,
            &:visited {

                &::before {
                    color: $yellow-green;
                }
            }
        }
    }
}