.a-button {

    &.-main {
        margin-top: 3px;
        font-size: .86rem;
        border: 0;
        text-transform: uppercase;
        padding: 2px 3px;
        color: inherit;
        background-color: $light-gray-1;

        @include media-up('_m') {
            padding: 2px 5px;
        }
    }
}